<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>PageADay</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/logo.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <div class="jumbotron" id="userHeader">
		<img id="logo" src="/assets/img/logo.png" alt="logo"/>
		<h3>Your Shelf</h3>
  </div>
  <nav class="navbar navbar-default">
    <div class="container">
      <div id="userNav">
        <ul class="nav navbar-nav">
          <li><a href="/archivePage">The Library</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
         <div id="addNewModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Add Comic Modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Add New Comic</h3>
              </div>
              <div class="modal-body">
                <div id="addComic"></div>
                <div class="errorMessage"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="library">
          <div class="row">
            <div class="col-md-9">
              <h3>My Comic Library</h3>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewModal">Add Comic</button>
            </div>
          </div>
          <div id="comics"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/userBundle.js"></script>
</body>
</html>