<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>PageADay</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/logo.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <div id="header" class="jumbotron">
      <h1>Page A Day</h1>
      <p>Keep track of all those web comics you love</p>
    </div>
    <div class="row content" id="intro">
      <div class="col-md-8 description">
        <h3>What is Page A Day?</h3>
        <p>Page A Day is a great way to keep all the links to your favorite web comics in one convinient location.</p>
        <p>Add them to your library with a little not on what you think. Explore other users' libraries to find some new comics!</p>
      </div>
      <div class="col-md-4 new-user">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" id="signupButton" href="/signup">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="loginButton" href="/login">Login</a>
        </li>
      </ul>
        <div id="userInfo" class="">
        </div>
        <div class="errorMessage"></div>
      </div>
    </div>
    <script src="/assets/loginBundle.js"></script>
</body>
</html>