<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>PageADay</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.1/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/img/logo.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <div class="jumbotron" id="userHeader">
    <img id="logo" src="/assets/img/logo.png" alt="logo"/>
    <h3>Your Account</h3>
  </div>
  <nav class="navbar navbar-default">
    <div class="container">
      <div id="archiveNav">
        <ul class="nav navbar-nav">
          <li><a href="/comicPage">My Shelf</a></li>
          <li><a href="/archivePage">The Library</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="changeArea" class="container">
    <h3>Change your password here</h3>
    <div id="changePass">
    </div>
    <div class="errorMessage"></div>
    <h3>Change your username here</h3>
    <div id="changeUser">
    </div>
    <div class="errorMessage"></div>
  </div>
  <script src="/assets/optionBundle.js"></script>
</body>
</html>