#header {
    text-align: center;
    background-color:  #7D6B95;
}

#header h1 {
    font-family: "Carter One", cursive, sans-serif;
    font-weight: bolder;    
    font-size: 150px;
    color: #DED8E5;
    margin-top: 0px;
}

#header p {
    padding-top: 30px;
    font-weight: bold;
    font-size: 35px;
}

.description {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    width: 50%;
}

.description h3, .new-user h3 {
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 10px;
}

.new-user {
    background-color: #DED8E5;
    padding:20px;
    padding-left: 100px;

}

.new-user .btn, #addComic .btn, #changeArea .btn {
    color: #DED8E5;
    background-color: #7D6B95;
    font-family: "Carter One", cursive, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    float: right;
    padding: 10px 30px 10px 30px;
}

.new-user .nav {
    padding: 5px;
}

.new-user .nav li, .new-user .nav a{
    display: inline;
    font-size: 20px;
}

.errorMessage {
    font-weight: bold;
    font-size: 20px;
    color: darkred;
}

.navbar-default{
	background-color: #7D6B95;
	padding-bottom: 10px;
}

.navbar img {
	width: 110px;
	display: inline-block;
	float: left;
	margin-top: 15px;
}

.navbar h3 {
	display: inline-block;
	color: #DED8E5;
  font-family: "Carter One", cursive, sans-serif;
	margin-top: 20px;
	margin-left: 20px;
	font-size: 45px;
}

.navbar .navto {
    float: right;
}

.navbar .navlink {
    background-color: #DED8E5;
    color: darkgrey; 
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

#explanation {
    padding-bottom: 30px;
}

#explanation p, #friends p, #library p {
    font-size: 18px;
    font-style: italic;
    width: 90%;
    margin-left: 20px;
}

#explanation, #comicForm, #friends, #library, #changePass {
	background-color: #DED8E5;
}

#explanation h3, #comicForm h3, #friends h3, #library h3, #changePass h3 {
	font-weight: bold;
	padding: 10px;
}

#library h3 {
    display: inline-block;
}

#addComic {
	padding: 10px;
}

#library {
	margin-top: 50px; 
	margin-bottom: 20px;
}

.comic {
	border-bottom: 3px solid lightgray;
}

.comic h3 {
	font-family: "Carter One", cursive, sans-serif;
	font-size: 15px;
	color: #7D6B95;
}

.comic p {
	margin-left: 20px;
	font-style: italic;
	font-size: 18px;
}

.comic .btn-default {
	background: none;
    border: none;
    color: #7d6b95;
    padding: 0px
}

.archive .btn-default {
    background-color: #7D6B95;
    color: white; 
}

.comic .glyphicon-remove, .archive .glyphicon-plus {
	font-size: 18px;
}

